<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>All Products</title>
</head>

<body>
    <header id="HEADER_19">
        <div id="DIV_20">
            <nav id="NAV_1">
                <a href="http://namnt201.herokuapp.com/index.php" id="A_2"><img
                        src="http://namnt201.herokuapp.com/images/logo.png" id="IMG_3" alt='' /></a>
                <button type="button" id="BUTTON_4">
                    <span id="SPAN_5"></span>
                </button>
                <div id="DIV_6">
                    <ul id="UL_7">
                        <li id="LI_8">
                            <a href="http://namnt201.herokuapp.com/index.php" id="A_9">Home <span
                                    id="SPAN_10">(current)</span></a>
                        </li>
                        <li id="LI_11">
                            <a href="http://namnt201.herokuapp.com/#" id="A_12">Type</a>
                            <div id="DIV_13">
                                <a href="http://namnt201.herokuapp.com/lego.php" id="A_14">Lego</a> <a
                                    href="http://namnt201.herokuapp.com/toy.php" id="A_15">Toy</a>
                            </div>
                        </li>
                    </ul>
                    <form id="FORM_16" method="GET" action="http://namnt201.herokuapp.com/search.php">
                        <input type="search" placeholder="Search" name="s" id="INPUT_17" />
                        <button type="submit" id="BUTTON_18">
                            Search
                        </button>
                    </form>
                </div>
            </nav>
        </div>
    </header>
</body>

</html>