body { background-color: rgb(255, 255, 255); }

.myDiv {
      border: 5px outset red;
      background-color: lightblue;
      text-align: center;
    }
    .gg {
        color: white;
        text-align: center;
      }
    .admin-main-content{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        grid-column-gap: 1rem;
    }

.product{
    background-color: #3333;
    padding: 10px;
    margin: 5px;
    float: left;
    height:300px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
}
.product-image{
    max-width: 100%;
    padding:20px;
}
.product-image img{
	position: center;
  	max-width:100%;
  	height:auto;
  	max-height: 200px;
}

.product-title{
	font-size: 15px;
}

.single-product{
    text-align: center;
}

.r-container{
	padding: 15px;
}

.mb-3 {
     margin-bottom: 1rem!important;
 }

    @-webkit-keyframes my {
        0% { color: #F8CD0A; }
        50% { color: #fff; }
        100% { color: #F8CD0A; }
        }
        @-moz-keyframes my {
        0% { color: #F8CD0A; }
        50% { color: #fff; }
        100% { color: #F8CD0A; }
        }
        @-o-keyframes my {
        0% { color: #000000; }
        50% { color: #fff; }
        100% { color: #000000; }
        }
        @keyframes my {
        0% { color: #000000; }
        50% { color: #fff; }
        100% { color: #000000; }
        }
        .test {
        background:#ffffff;
        font-size:24px;
        font-weight:bold;
        -webkit-animation: my 6s infinite;
        -moz-animation: my s infinite;
        -o-animation: my 6s infinite;
        animation: my 6s infinite;
        text-align: center;
        }


        .themdulieu{
            border: .5px solid rgb(199, 198, 198);
            border-top: none;
            border-right: none;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background: #fff;
            grid-row-gap: 2.5rem;
        }

        .themdulieu p{
            display: flex;
            justify-content: space-around;
            grid-column-gap: 1rem;
            align-items: center;
            width: 60%;
        }

        .themdulieu span{
            width: 30%;
        }

        .themdulieu input{
            width: 100%;
            border: none;
            width: 200px;
            height: 35px;
            padding-left: 10px;
            background: #eff0f5;
            border-radius: .3rem;
        }

        #desktop-nav-left.active{
            clip-path: circle(1200px at -20% 1%);
            -webkit-clip-path: circle(1200px at -20% 1%);
            transition: all 1s ease-out;
        }

/*/*/

#HEADER_19 {
    block-size: 1584.8px;
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    height: 1584.8px;
    inline-size: 1349px;
    perspective-origin: 674.5px 792.391px;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    transform-origin: 674.5px 792.398px;
    width: 1349px;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: rgb(33, 37, 41) none 0px;
}/*#HEADER_19*/

#DIV_20 {
    block-size: 546.797px;
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    height: 546.797px;
    inline-size: 1140px;
    margin-inline-end: 104.5px;
    margin-inline-start: 104.5px;
    max-inline-size: 1140px;
    max-width: 1140px;
    padding-inline-end: 15px;
    padding-inline-start: 15px;
    perspective-origin: 570px 273.391px;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    transform-origin: 570px 273.398px;
    width: 1140px;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0px 104.5px;
    outline: rgb(33, 37, 41) none 0px;
    padding: 0px 15px;
}/*#DIV_20*/

#NAV_1 {
    align-items: center;
    block-size: 59.9062px;
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    display: flex;
    height: 59.9062px;
    inline-size: 1110px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    justify-content: flex-start;
    left: 0px;
    padding-block-end: 8px;
    padding-block-start: 8px;
    padding-inline-end: 16px;
    padding-inline-start: 16px;
    perspective-origin: 555px 29.9531px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 555px 29.9531px;
    width: 1110px;
    background: rgb(248, 249, 250) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: rgb(33, 37, 41) none 0px;
    padding: 8px 16px;
}/*#NAV_1*/

#NAV_1:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    display: block;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: rgb(33, 37, 41) none 0px;
}/*#NAV_1:after*/

#NAV_1:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    display: block;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: rgb(33, 37, 41) none 0px;
}/*#NAV_1:before*/

#A_2 {
    block-size: 43.9062px;
    border-block-end-color: rgba(0, 0, 0, 0.9);
    border-block-start-color: rgba(0, 0, 0, 0.9);
    border-inline-end-color: rgba(0, 0, 0, 0.9);
    border-inline-start-color: rgba(0, 0, 0, 0.9);
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.9);
    color: rgba(0, 0, 0, 0.9);
    column-rule-color: rgba(0, 0, 0, 0.9);
    display: block;
    height: 43.9062px;
    inline-size: 40px;
    margin-inline-end: 16px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    padding-block-end: 5px;
    padding-block-start: 5px;
    perspective-origin: 20px 21.9531px;
    text-align: left;
    text-decoration: none solid rgba(0, 0, 0, 0.9);
    text-size-adjust: 100%;
    transform-origin: 20px 21.9531px;
    white-space: nowrap;
    width: 40px;
    border: 0px none rgba(0, 0, 0, 0.9);
    font: 20px / 30px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0px 16px 0px 0px;
    outline: rgba(0, 0, 0, 0.9) none 0px;
    padding: 5px 0px;
}/*#A_2*/

#A_2:after {
    border-block-end-color: rgba(0, 0, 0, 0.9);
    border-block-start-color: rgba(0, 0, 0, 0.9);
    border-inline-end-color: rgba(0, 0, 0, 0.9);
    border-inline-start-color: rgba(0, 0, 0, 0.9);
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.9);
    color: rgba(0, 0, 0, 0.9);
    column-rule-color: rgba(0, 0, 0, 0.9);
    text-align: left;
    text-decoration: none solid rgba(0, 0, 0, 0.9);
    text-size-adjust: 100%;
    white-space: nowrap;
    border: 0px none rgba(0, 0, 0, 0.9);
    font: 20px / 30px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: rgba(0, 0, 0, 0.9) none 0px;
}/*#A_2:after*/

#A_2:before {
    border-block-end-color: rgba(0, 0, 0, 0.9);
    border-block-start-color: rgba(0, 0, 0, 0.9);
    border-inline-end-color: rgba(0, 0, 0, 0.9);
    border-inline-start-color: rgba(0, 0, 0, 0.9);
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.9);
    color: rgba(0, 0, 0, 0.9);
    column-rule-color: rgba(0, 0, 0, 0.9);
    text-align: left;
    text-decoration: none solid rgba(0, 0, 0, 0.9);
    text-size-adjust: 100%;
    white-space: nowrap;
    border: 0px none rgba(0, 0, 0, 0.9);
    font: 20px / 30px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: rgba(0, 0, 0, 0.9) none 0px;
}/*#A_2:before*/

#IMG_3 {
    block-size: 29.8281px;
    border-block-end-color: rgba(0, 0, 0, 0.9);
    border-block-start-color: rgba(0, 0, 0, 0.9);
    border-inline-end-color: rgba(0, 0, 0, 0.9);
    border-inline-start-color: rgba(0, 0, 0, 0.9);
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.9);
    color: rgba(0, 0, 0, 0.9);
    column-rule-color: rgba(0, 0, 0, 0.9);
    cursor: pointer;
    height: 29.8281px;
    inline-size: 40px;
    perspective-origin: 20px 14.9062px;
    text-align: left;
    text-decoration: none solid rgba(0, 0, 0, 0.9);
    text-size-adjust: 100%;
    transform-origin: 20px 14.9141px;
    vertical-align: middle;
    white-space: nowrap;
    width: 40px;
    border: 0px none rgba(0, 0, 0, 0.9);
    font: 20px / 30px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: rgba(0, 0, 0, 0.9) none 0px;
}/*#IMG_3*/

#IMG_3:after {
    border-block-end-color: rgba(0, 0, 0, 0.9);
    border-block-start-color: rgba(0, 0, 0, 0.9);
    border-inline-end-color: rgba(0, 0, 0, 0.9);
    border-inline-start-color: rgba(0, 0, 0, 0.9);
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.9);
    color: rgba(0, 0, 0, 0.9);
    column-rule-color: rgba(0, 0, 0, 0.9);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgba(0, 0, 0, 0.9);
    text-size-adjust: 100%;
    white-space: nowrap;
    border: 0px none rgba(0, 0, 0, 0.9);
    font: 20px / 30px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: rgba(0, 0, 0, 0.9) none 0px;
}/*#IMG_3:after*/

#IMG_3:before {
    border-block-end-color: rgba(0, 0, 0, 0.9);
    border-block-start-color: rgba(0, 0, 0, 0.9);
    border-inline-end-color: rgba(0, 0, 0, 0.9);
    border-inline-start-color: rgba(0, 0, 0, 0.9);
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.9);
    color: rgba(0, 0, 0, 0.9);
    column-rule-color: rgba(0, 0, 0, 0.9);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgba(0, 0, 0, 0.9);
    text-size-adjust: 100%;
    white-space: nowrap;
    border: 0px none rgba(0, 0, 0, 0.9);
    font: 20px / 30px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: rgba(0, 0, 0, 0.9) none 0px;
}/*#IMG_3:before*/

#BUTTON_4 {
    appearance: button;
    border-block-end-color: rgba(0, 0, 0, 0.1);
    border-block-end-style: solid;
    border-block-end-width: 1px;
    border-block-start-color: rgba(0, 0, 0, 0.1);
    border-block-start-style: solid;
    border-block-start-width: 1px;
    border-end-end-radius: 4px;
    border-end-start-radius: 4px;
    border-inline-end-color: rgba(0, 0, 0, 0.1);
    border-inline-end-style: solid;
    border-inline-end-width: 1px;
    border-inline-start-color: rgba(0, 0, 0, 0.1);
    border-inline-start-style: solid;
    border-inline-start-width: 1px;
    border-start-end-radius: 4px;
    border-start-start-radius: 4px;
    caret-color: rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.5);
    column-rule-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    display: none;
    padding-block-end: 4px;
    padding-block-start: 4px;
    padding-inline-end: 12px;
    padding-inline-start: 12px;
    text-decoration: none solid rgba(0, 0, 0, 0.5);
    text-size-adjust: 100%;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    font: 20px / 20px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: rgba(0, 0, 0, 0.5) none 0px;
    padding: 4px 12px;
}/*#BUTTON_4*/

#BUTTON_4:after {
    border-block-end-color: rgba(0, 0, 0, 0.5);
    border-block-start-color: rgba(0, 0, 0, 0.5);
    border-inline-end-color: rgba(0, 0, 0, 0.5);
    border-inline-start-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.5);
    column-rule-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-decoration: none solid rgba(0, 0, 0, 0.5);
    text-size-adjust: 100%;
    border: 0px none rgba(0, 0, 0, 0.5);
    font: 20px / 20px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: rgba(0, 0, 0, 0.5) none 0px;
}/*#BUTTON_4:after*/

#BUTTON_4:before {
    border-block-end-color: rgba(0, 0, 0, 0.5);
    border-block-start-color: rgba(0, 0, 0, 0.5);
    border-inline-end-color: rgba(0, 0, 0, 0.5);
    border-inline-start-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.5);
    column-rule-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-decoration: none solid rgba(0, 0, 0, 0.5);
    text-size-adjust: 100%;
    border: 0px none rgba(0, 0, 0, 0.5);
    font: 20px / 20px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: rgba(0, 0, 0, 0.5) none 0px;
}/*#BUTTON_4:before*/

#SPAN_5 {
    background-position: 50% 50%;
    block-size: 30px;
    border-block-end-color: rgba(0, 0, 0, 0.5);
    border-block-start-color: rgba(0, 0, 0, 0.5);
    border-inline-end-color: rgba(0, 0, 0, 0.5);
    border-inline-start-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.5);
    column-rule-color: rgba(0, 0, 0, 0.5);
    content: '""';
    cursor: pointer;
    display: inline-block;
    height: 30px;
    inline-size: 30px;
    text-align: center;
    text-decoration: none solid rgba(0, 0, 0, 0.5);
    text-size-adjust: 100%;
    vertical-align: middle;
    width: 30px;
    background: rgba(0, 0, 0, 0) url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat scroll 50% 50% / 100% 100% padding-box border-box;
    border: 0px none rgba(0, 0, 0, 0.5);
    font: 20px / 20px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: rgba(0, 0, 0, 0.5) none 0px;
}/*#SPAN_5*/

#SPAN_5:after {
    border-block-end-color: rgba(0, 0, 0, 0.5);
    border-block-start-color: rgba(0, 0, 0, 0.5);
    border-inline-end-color: rgba(0, 0, 0, 0.5);
    border-inline-start-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.5);
    column-rule-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-align: center;
    text-decoration: none solid rgba(0, 0, 0, 0.5);
    text-size-adjust: 100%;
    border: 0px none rgba(0, 0, 0, 0.5);
    font: 20px / 20px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: rgba(0, 0, 0, 0.5) none 0px;
}/*#SPAN_5:after*/

#SPAN_5:before {
    border-block-end-color: rgba(0, 0, 0, 0.5);
    border-block-start-color: rgba(0, 0, 0, 0.5);
    border-inline-end-color: rgba(0, 0, 0, 0.5);
    border-inline-start-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.5);
    column-rule-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-align: center;
    text-decoration: none solid rgba(0, 0, 0, 0.5);
    text-size-adjust: 100%;
    border: 0px none rgba(0, 0, 0, 0.5);
    font: 20px / 20px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: rgba(0, 0, 0, 0.5) none 0px;
}/*#SPAN_5:before*/

#DIV_6 {
    align-items: center;
    block-size: 40px;
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    display: flex;
    height: 40px;
    inline-size: 1022px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 511px 20px;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    transform-origin: 511px 20px;
    width: 1022px;
    border: 0px none rgb(33, 37, 41);
    flex: 1 1 auto;
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_6*/

#DIV_6:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    display: block;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_6:after*/

#DIV_6:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    display: block;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_6:before*/

#UL_7 {
    block-size: 40px;
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    display: flex;
    height: 40px;
    inline-size: 123.672px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    margin-inline-end: 617.328px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    padding-inline-start: 0px;
    perspective-origin: 61.8281px 20px;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    transform-origin: 61.8359px 20px;
    width: 123.672px;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    margin: 0px 617.328px 0px 0px;
    outline: rgb(33, 37, 41) none 0px;
    padding: 0px;
}/*#UL_7*/

#UL_7:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    display: block;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(33, 37, 41) none 0px;
}/*#UL_7:after*/

#UL_7:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    display: block;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(33, 37, 41) none 0px;
}/*#UL_7:before*/

#LI_8 {
    block-size: 40px;
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    height: 40px;
    inline-size: 58px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 29px 20px;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    transform-origin: 29px 20px;
    width: 58px;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(33, 37, 41) none 0px;
}/*#LI_8*/

#LI_8:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(33, 37, 41) none 0px;
}/*#LI_8:after*/

#LI_8:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(33, 37, 41) none 0px;
}/*#LI_8:before*/

#A_9 {
    block-size: 40px;
    border-block-end-color: rgba(0, 0, 0, 0.9);
    border-block-start-color: rgba(0, 0, 0, 0.9);
    border-inline-end-color: rgba(0, 0, 0, 0.9);
    border-inline-start-color: rgba(0, 0, 0, 0.9);
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.9);
    color: rgba(0, 0, 0, 0.9);
    column-rule-color: rgba(0, 0, 0, 0.9);
    display: block;
    height: 40px;
    inline-size: 58px;
    padding-block-end: 8px;
    padding-block-start: 8px;
    padding-inline-end: 8px;
    padding-inline-start: 8px;
    perspective-origin: 29px 20px;
    text-align: left;
    text-decoration: none solid rgba(0, 0, 0, 0.9);
    text-size-adjust: 100%;
    transform-origin: 29px 20px;
    width: 58px;
    border: 0px none rgba(0, 0, 0, 0.9);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgba(0, 0, 0, 0.9) none 0px;
    padding: 8px;
}/*#A_9*/

#A_9:after {
    border-block-end-color: rgba(0, 0, 0, 0.9);
    border-block-start-color: rgba(0, 0, 0, 0.9);
    border-inline-end-color: rgba(0, 0, 0, 0.9);
    border-inline-start-color: rgba(0, 0, 0, 0.9);
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.9);
    color: rgba(0, 0, 0, 0.9);
    column-rule-color: rgba(0, 0, 0, 0.9);
    text-align: left;
    text-decoration: none solid rgba(0, 0, 0, 0.9);
    text-size-adjust: 100%;
    border: 0px none rgba(0, 0, 0, 0.9);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgba(0, 0, 0, 0.9) none 0px;
}/*#A_9:after*/

#A_9:before {
    border-block-end-color: rgba(0, 0, 0, 0.9);
    border-block-start-color: rgba(0, 0, 0, 0.9);
    border-inline-end-color: rgba(0, 0, 0, 0.9);
    border-inline-start-color: rgba(0, 0, 0, 0.9);
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.9);
    color: rgba(0, 0, 0, 0.9);
    column-rule-color: rgba(0, 0, 0, 0.9);
    text-align: left;
    text-decoration: none solid rgba(0, 0, 0, 0.9);
    text-size-adjust: 100%;
    border: 0px none rgba(0, 0, 0, 0.9);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgba(0, 0, 0, 0.9) none 0px;
}/*#A_9:before*/

#SPAN_10 {
    block-size: 1px;
    border-block-end-color: rgba(0, 0, 0, 0.9);
    border-block-start-color: rgba(0, 0, 0, 0.9);
    border-inline-end-color: rgba(0, 0, 0, 0.9);
    border-inline-start-color: rgba(0, 0, 0, 0.9);
    bottom: 42.9531px;
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.9);
    clip: rect(0px, 0px, 0px, 0px);
    color: rgba(0, 0, 0, 0.9);
    column-rule-color: rgba(0, 0, 0, 0.9);
    cursor: pointer;
    display: block;
    height: 1px;
    inline-size: 1px;
    inset-block-end: 42.9531px;
    inset-block-start: 17.9531px;
    inset-inline-end: 989px;
    inset-inline-start: 122px;
    left: 122px;
    margin-block-end: -1px;
    margin-block-start: -1px;
    margin-inline-end: -1px;
    margin-inline-start: -1px;
    perspective-origin: 0.5px 0.5px;
    position: absolute;
    right: 989px;
    text-align: left;
    text-decoration: none solid rgba(0, 0, 0, 0.9);
    text-size-adjust: 100%;
    top: 17.9531px;
    transform-origin: 0.5px 0.5px;
    white-space: nowrap;
    width: 1px;
    border: 0px none rgba(0, 0, 0, 0.9);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    margin: -1px;
    outline: rgba(0, 0, 0, 0.9) none 0px;
    overflow: hidden;
}/*#SPAN_10*/

#SPAN_10:after {
    border-block-end-color: rgba(0, 0, 0, 0.9);
    border-block-start-color: rgba(0, 0, 0, 0.9);
    border-inline-end-color: rgba(0, 0, 0, 0.9);
    border-inline-start-color: rgba(0, 0, 0, 0.9);
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.9);
    color: rgba(0, 0, 0, 0.9);
    column-rule-color: rgba(0, 0, 0, 0.9);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgba(0, 0, 0, 0.9);
    text-size-adjust: 100%;
    white-space: nowrap;
    border: 0px none rgba(0, 0, 0, 0.9);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgba(0, 0, 0, 0.9) none 0px;
}/*#SPAN_10:after*/

#SPAN_10:before {
    border-block-end-color: rgba(0, 0, 0, 0.9);
    border-block-start-color: rgba(0, 0, 0, 0.9);
    border-inline-end-color: rgba(0, 0, 0, 0.9);
    border-inline-start-color: rgba(0, 0, 0, 0.9);
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.9);
    color: rgba(0, 0, 0, 0.9);
    column-rule-color: rgba(0, 0, 0, 0.9);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgba(0, 0, 0, 0.9);
    text-size-adjust: 100%;
    white-space: nowrap;
    border: 0px none rgba(0, 0, 0, 0.9);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgba(0, 0, 0, 0.9) none 0px;
}/*#SPAN_10:before*/

#LI_11 {
    block-size: 40px;
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    height: 40px;
    inline-size: 65.6719px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 32.8281px 20px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 32.8359px 20px;
    width: 65.6719px;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(33, 37, 41) none 0px;
}/*#LI_11*/

#LI_11:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(33, 37, 41) none 0px;
}/*#LI_11:after*/

#LI_11:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(33, 37, 41) none 0px;
}/*#LI_11:before*/

#A_12 {
    block-size: 40px;
    border-block-end-color: rgba(0, 0, 0, 0.5);
    border-block-start-color: rgba(0, 0, 0, 0.5);
    border-inline-end-color: rgba(0, 0, 0, 0.5);
    border-inline-start-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.5);
    column-rule-color: rgba(0, 0, 0, 0.5);
    display: block;
    height: 40px;
    inline-size: 65.6719px;
    padding-block-end: 8px;
    padding-block-start: 8px;
    padding-inline-end: 8px;
    padding-inline-start: 8px;
    perspective-origin: 32.8281px 20px;
    text-align: left;
    text-decoration: none solid rgba(0, 0, 0, 0.5);
    text-size-adjust: 100%;
    transform-origin: 32.8359px 20px;
    white-space: nowrap;
    width: 65.6719px;
    border: 0px none rgba(0, 0, 0, 0.5);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgba(0, 0, 0, 0.5) none 0px;
    padding: 8px;
}/*#A_12*/

#A_12:after {
    block-size: 4.79688px;
    border-block-end-color: rgba(0, 0, 0, 0.5);
    border-block-start-color: rgba(0, 0, 0, 0.5);
    border-block-start-style: solid;
    border-block-start-width: 4.79688px;
    border-inline-end-color: rgba(0, 0, 0, 0);
    border-inline-end-style: solid;
    border-inline-end-width: 4.79688px;
    border-inline-start-color: rgba(0, 0, 0, 0);
    border-inline-start-style: solid;
    border-inline-start-width: 4.79688px;
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.5);
    column-rule-color: rgba(0, 0, 0, 0.5);
    content: '""';
    display: inline-block;
    height: 4.79688px;
    inline-size: 9.59375px;
    margin-inline-start: 4.08px;
    perspective-origin: 4.79688px 2.39062px;
    text-align: left;
    text-decoration: none solid rgba(0, 0, 0, 0.5);
    text-size-adjust: 100%;
    transform-origin: 4.79688px 2.39844px;
    vertical-align: 4.08px;
    white-space: nowrap;
    width: 9.59375px;
    border-top: 4.79688px solid rgba(0, 0, 0, 0.5);
    border-right: 4.79688px solid rgba(0, 0, 0, 0);
    border-bottom: 0px none rgba(0, 0, 0, 0.5);
    border-left: 4.79688px solid rgba(0, 0, 0, 0);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    margin: 0px 0px 0px 4.08px;
    outline: rgba(0, 0, 0, 0.5) none 0px;
}/*#A_12:after*/

#A_12:before {
    border-block-end-color: rgba(0, 0, 0, 0.5);
    border-block-start-color: rgba(0, 0, 0, 0.5);
    border-inline-end-color: rgba(0, 0, 0, 0.5);
    border-inline-start-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.5);
    column-rule-color: rgba(0, 0, 0, 0.5);
    text-align: left;
    text-decoration: none solid rgba(0, 0, 0, 0.5);
    text-size-adjust: 100%;
    white-space: nowrap;
    border: 0px none rgba(0, 0, 0, 0.5);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgba(0, 0, 0, 0.5) none 0px;
}/*#A_12:before*/

#DIV_13 {
    border-block-end-color: rgba(0, 0, 0, 0.15);
    border-block-end-style: solid;
    border-block-end-width: 1px;
    border-block-start-color: rgba(0, 0, 0, 0.15);
    border-block-start-style: solid;
    border-block-start-width: 1px;
    border-end-end-radius: 4px;
    border-end-start-radius: 4px;
    border-inline-end-color: rgba(0, 0, 0, 0.15);
    border-inline-end-style: solid;
    border-inline-end-width: 1px;
    border-inline-start-color: rgba(0, 0, 0, 0.15);
    border-inline-start-style: solid;
    border-inline-start-width: 1px;
    border-start-end-radius: 4px;
    border-start-start-radius: 4px;
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    display: none;
    inset-block-start: 100%;
    inset-inline-start: 0px;
    left: 0px;
    margin-block-start: 2px;
    min-inline-size: 160px;
    min-width: 160px;
    padding-block-end: 8px;
    padding-block-start: 8px;
    position: absolute;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    top: 100%;
    z-index: 1000;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    margin: 2px 0px 0px;
    outline: rgb(33, 37, 41) none 0px;
    padding: 8px 0px;
}/*#DIV_13*/

#DIV_13:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_13:after*/

#DIV_13:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_13:before*/

#A_14, #A_15 {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    clear: both;
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    display: block;
    inline-size: 100%;
    padding-block-end: 4px;
    padding-block-start: 4px;
    padding-inline-end: 24px;
    padding-inline-start: 24px;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    white-space: nowrap;
    width: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(33, 37, 41) none 0px;
    padding: 4px 24px;
}/*#A_14, #A_15*/

#A_14:after, #A_15:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    white-space: nowrap;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(33, 37, 41) none 0px;
}/*#A_14:after, #A_15:after*/

#A_14:before, #A_15:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    white-space: nowrap;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(33, 37, 41) none 0px;
}/*#A_14:before, #A_15:before*/

#FORM_16 {
    align-items: center;
    block-size: 38px;
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    display: flex;
    float: right;
    height: 38px;
    inline-size: 281px;
    margin-block-end: 0px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 140.5px 19px;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    transform-origin: 140.5px 19px;
    width: 281px;
    border: 0px none rgb(33, 37, 41);
    flex-flow: row wrap;
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0px;
    outline: rgb(33, 37, 41) none 0px;
}/*#FORM_16*/

#FORM_16:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    display: block;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: rgb(33, 37, 41) none 0px;
}/*#FORM_16:after*/

#FORM_16:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    display: block;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: rgb(33, 37, 41) none 0px;
}/*#FORM_16:before*/

#INPUT_17 {
    appearance: none;
    block-size: 38px;
    border-block-end-color: rgb(206, 212, 218);
    border-block-end-style: solid;
    border-block-end-width: 1px;
    border-block-start-color: rgb(206, 212, 218);
    border-block-start-style: solid;
    border-block-start-width: 1px;
    border-end-end-radius: 4px;
    border-end-start-radius: 4px;
    border-inline-end-color: rgb(206, 212, 218);
    border-inline-end-style: solid;
    border-inline-end-width: 1px;
    border-inline-start-color: rgb(206, 212, 218);
    border-inline-start-style: solid;
    border-inline-start-width: 1px;
    border-start-end-radius: 4px;
    border-start-start-radius: 4px;
    caret-color: rgb(73, 80, 87);
    color: rgb(73, 80, 87);
    column-rule-color: rgb(73, 80, 87);
    display: block;
    height: 38px;
    inline-size: 200px;
    margin-inline-end: 8px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    outline-offset: -2px;
    padding-block-end: 6px;
    padding-block-start: 6px;
    padding-inline-end: 12px;
    padding-inline-start: 12px;
    perspective-origin: 100px 19px;
    text-decoration: none solid rgb(73, 80, 87);
    text-size-adjust: 100%;
    transform-origin: 100px 19px;
    width: 200px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box padding-box;
    border: 1px solid rgb(206, 212, 218);
    border-radius: 4px;
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0px 8px 0px 0px;
    outline: rgb(73, 80, 87) none 0px;
    padding: 6px 12px;
    transition: none 0s ease 0s;
}/*#INPUT_17*/

#INPUT_17:after {
    border-block-end-color: rgb(73, 80, 87);
    border-block-start-color: rgb(73, 80, 87);
    border-inline-end-color: rgb(73, 80, 87);
    border-inline-start-color: rgb(73, 80, 87);
    box-sizing: border-box;
    caret-color: rgb(73, 80, 87);
    color: rgb(73, 80, 87);
    column-rule-color: rgb(73, 80, 87);
    text-decoration: none solid rgb(73, 80, 87);
    text-size-adjust: 100%;
    border: 0px none rgb(73, 80, 87);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: rgb(73, 80, 87) none 0px;
}/*#INPUT_17:after*/

#INPUT_17:before {
    border-block-end-color: rgb(73, 80, 87);
    border-block-start-color: rgb(73, 80, 87);
    border-inline-end-color: rgb(73, 80, 87);
    border-inline-start-color: rgb(73, 80, 87);
    box-sizing: border-box;
    caret-color: rgb(73, 80, 87);
    color: rgb(73, 80, 87);
    column-rule-color: rgb(73, 80, 87);
    text-decoration: none solid rgb(73, 80, 87);
    text-size-adjust: 100%;
    border: 0px none rgb(73, 80, 87);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: rgb(73, 80, 87) none 0px;
}/*#INPUT_17:before*/

#BUTTON_18 {
    appearance: button;
    block-size: 38px;
    border-block-end-color: rgb(40, 167, 69);
    border-block-end-style: solid;
    border-block-end-width: 1px;
    border-block-start-color: rgb(40, 167, 69);
    border-block-start-style: solid;
    border-block-start-width: 1px;
    border-end-end-radius: 4px;
    border-end-start-radius: 4px;
    border-inline-end-color: rgb(40, 167, 69);
    border-inline-end-style: solid;
    border-inline-end-width: 1px;
    border-inline-start-color: rgb(40, 167, 69);
    border-inline-start-style: solid;
    border-inline-start-width: 1px;
    border-start-end-radius: 4px;
    border-start-start-radius: 4px;
    caret-color: rgb(40, 167, 69);
    color: rgb(40, 167, 69);
    column-rule-color: rgb(40, 167, 69);
    cursor: pointer;
    display: block;
    height: 38px;
    inline-size: 73px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    padding-block-end: 6px;
    padding-block-start: 6px;
    padding-inline-end: 12px;
    padding-inline-start: 12px;
    perspective-origin: 36.5px 19px;
    text-decoration: none solid rgb(40, 167, 69);
    text-size-adjust: 100%;
    transform-origin: 36.5px 19px;
    user-select: none;
    width: 73px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(40, 167, 69);
    border-radius: 4px;
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: rgb(40, 167, 69) none 0px;
    padding: 6px 12px;
    transition: none 0s ease 0s;
}/*#BUTTON_18*/

#BUTTON_18:after {
    border-block-end-color: rgb(40, 167, 69);
    border-block-start-color: rgb(40, 167, 69);
    border-inline-end-color: rgb(40, 167, 69);
    border-inline-start-color: rgb(40, 167, 69);
    box-sizing: border-box;
    caret-color: rgb(40, 167, 69);
    color: rgb(40, 167, 69);
    column-rule-color: rgb(40, 167, 69);
    cursor: pointer;
    text-decoration: none solid rgb(40, 167, 69);
    text-size-adjust: 100%;
    user-select: none;
    border: 0px none rgb(40, 167, 69);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: rgb(40, 167, 69) none 0px;
}/*#BUTTON_18:after*/

#BUTTON_18:before {
    border-block-end-color: rgb(40, 167, 69);
    border-block-start-color: rgb(40, 167, 69);
    border-inline-end-color: rgb(40, 167, 69);
    border-inline-start-color: rgb(40, 167, 69);
    box-sizing: border-box;
    caret-color: rgb(40, 167, 69);
    color: rgb(40, 167, 69);
    column-rule-color: rgb(40, 167, 69);
    cursor: pointer;
    text-decoration: none solid rgb(40, 167, 69);
    text-size-adjust: 100%;
    user-select: none;
    border: 0px none rgb(40, 167, 69);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: rgb(40, 167, 69) none 0px;
}/*#BUTTON_18:before*/


